

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8FD3B4;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #f874fc;
}

p {
    color: #ffffff;
}
a {
  color: #ff5733;
  text-decoration: none;
}

a:hover {
  color: #5ce561;
  text-decoration: underline;
}

a:visited {
  color: #a6c1a4;
}


  .outlined-paragraph {
    outline-style: solid;
    outline-width: medium;
    outline-color: red;
  }
